/* src/styles/_typography.css */

/* Ajustements de la taille de police de base pour le responsive */
@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 12px;
    }
}
